FLASK_APP=application:application
FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off

NOTIFY_ENVIRONMENT=development
NOTIFY_LOG_PATH=/home/vcap/logs/app.log

NOTIFICATION_QUEUE_PREFIX=${TMPL_NOTIFICATIONS_QUEUE_PREFIX}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_ANTIVIRUS_API_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
