NOTIFY_ENVIRONMENT=development

FLASK_APPLICATION=application.py
FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off

SERVER_NAME=${TMPL_DOCUMENT_DOWNLOAD_API_HOSTNAME}
FRONTEND_HOSTNAME=${TMPL_DOCUMENT_DOWNLOAD_FRONTEND_HOSTNAME}

ANTIVIRUS_ENABLED=0
ANTIVIRUS_API_HOST=${HTTP_PROTO}://${TMPL_NOTIFY_ANTIVIRUS_API_HOSTNAME}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_DOCUMENT_DOWNLOAD_API_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
