FLASK_APP=application.py

FLASK_DEBUG=1
NOTIFY_ENVIRONMENT=development

SERVER_NAME=document-download-frontend.localhost:7001

API_HOST_NAME=http://notify-api.localhost:6011
DOCUMENT_DOWNLOAD_API_HOST_NAME=http://document-download-api.localhost:7000
