NOTIFY_ENVIRONMENT=development

FLASK_APPLICATION=application.py
FLASK_DEBUG=1

SERVER_NAME=document-download-api.localhost:7000
FRONTEND_HOSTNAME=document-download-frontend.localhost:7001

ANTIVIRUS_ENABLED=1
ANTIVIRUS_API_HOST=http://antivirus-api.localhost:6016
