FLASK_APP=application.py

FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off
NOTIFY_ENVIRONMENT=development

SERVER_NAME=frontend.document-download.localhost:7001

API_HOST_NAME=http://notify-api.localhost:6011
DOCUMENT_DOWNLOAD_API_HOST_NAME=http://api.document-download.localhost:7000

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_DOCUMENT_DOWNLOAD_FRONTEND_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
