FLASK_APP=application.py

FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off
NOTIFY_ENVIRONMENT=development

SERVER_NAME=document-download-frontend.localhost:7001

API_HOST_NAME=${HTTP_PROTO}://${TMPL_NOTIFY_API_HOSTNAME}
DOCUMENT_DOWNLOAD_API_HOST_NAME=${HTTP_PROTO}://${TMPL_DOCUMENT_DOWNLOAD_API_HOSTNAME}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_DOCUMENT_DOWNLOAD_FRONTEND_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
