NOTIFY_ENVIRONMENT=development

FLASK_APPLICATION=application.py
FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off

SERVER_NAME=api.document-download.localhost:7000
FRONTEND_HOSTNAME=frontend.document-download.localhost:7001
DOCUMENT_DOWNLOAD_API_HOSTNAME=api.document-download.localhost:7000

ANTIVIRUS_ENABLED=0
ANTIVIRUS_API_HOST=http://antivirus-api.localhost:6016

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_DOCUMENT_DOWNLOAD_API_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
