NOTIFY_ENVIRONMENT=development

FLASK_APP=application.py
FLASK_DEBUG=1

REDIS_ENABLED=1
REDIS_URL=redis://redis:6379/0

SERVER_NAME=notify.localhost:6012
ADMIN_BASE_URL=http://notify.localhost:6012

API_HOST_NAME=http://notify-api.localhost:6011

TEMPLATE_PREVIEW_API_HOST=http://template-preview-api.localhost:6013

ANTIVIRUS_ENABLED=1
ANTIVIRUS_API_HOST=http://antivirus-api.localhost:6016

ZENDESK_API_KEY=${TMPL_ZENDESK_API_KEY}
