NOTIFY_ENVIRONMENT=development

FLASK_APP=application.py
FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off

REDIS_ENABLED=1
REDIS_URL=redis://redis:6379/0

PORT=6012
SERVER_NAME=${TMPL_NOTIFY_ADMIN_HOSTNAME}
ADMIN_BASE_URL=${HTTP_PROTO}://${TMPL_NOTIFY_ADMIN_HOSTNAME}

API_HOST_NAME=${HTTP_PROTO}://${TMPL_NOTIFY_API_HOSTNAME}

TEMPLATE_PREVIEW_API_HOST=${HTTP_PROTO}://${TMPL_NOTIFY_TEMPLATE_PREVIEW_HOSTNAME}

ANTIVIRUS_ENABLED=0
ANTIVIRUS_API_HOST=${HTTP_PROTO}://${TMPL_NOTIFY_ANTIVIRUS_API_HOSTNAME}

ZENDESK_API_KEY=${TMPL_ZENDESK_API_KEY}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_NOTIFY_ADMIN_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
