NOTIFY_ENVIRONMENT=development
NOTIFY_APP_NAME=notify-api

FLASK_APP=application:application
FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off
SQLALCHEMY_RECORD_QUERIES=1

PORT=6011
SERVER_NAME=notify-api.localhost:6011
SQLALCHEMY_DATABASE_URI=postgresql://notify:notify@db/notification_api

MMG_API_KEY=${TMPL_MMG_API_KEY}
FIRETEXT_API_KEY=${TMPL_FIRETEXT_API_KEY}
NOTIFICATION_QUEUE_PREFIX=${TMPL_NOTIFICATIONS_QUEUE_PREFIX}

REDIS_ENABLED=1
REDIS_URL=redis://redis:6379/0

ADMIN_BASE_URL=http://notify.localhost:6012

DOCUMENT_DOWNLOAD_API_HOST=http://document-download-api.localhost:7000
DOCUMENT_DOWNLOAD_API_HOST_INTERNAL=http://document-download-api.localhost:7000

TEMPLATE_PREVIEW_API_HOST=http://template-preview-api.localhost:6013

ANTIVIRUS_ENABLED=1
ANTIVIRUS_API_HOST=http://antivirus-api.localhost:6016

DVLA_API_BASE_URL=https://uat.driver-vehicle-licensing.api.gov.uk

ZENDESK_API_KEY=${TMPL_ZENDESK_API_KEY}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_NOTIFY_API_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
