NOTIFY_ENVIRONMENT=development

PORT=6013
SERVER_NAME=template-preview-api.localhost:6013

FLASK_DEBUG=1
WERKZEUG_DEBUG_PIN=off

STATSD_ENABLED=

TEMPLATE_PREVIEW_INTERNAL_SECRETS=["my-secret-key"]
DANGEROUS_SALT=dev-notify-salt
SECRET_KEY=dev-notify-secret-key
NOTIFICATION_QUEUE_PREFIX=${TMPL_NOTIFICATIONS_QUEUE_PREFIX}

SENTRY_ENABLED=0
SENTRY_DSN=${TMPL_TEMPLATE_PREVIEW_API_SENTRY_DSN}
SENTRY_ERRORS_SAMPLE_RATE=1
SENTRY_TRACES_SAMPLE_RATE=1
SENTRY_PROFILES_SAMPLE_RATE=0
